$white: #fff;
$purple: #6E2594;
$grey: rgb(128, 128, 128);
$black: #000;
$light-grey: #d3d3d3;
$dark-grey: #202124;
$stone-white: #F4F4F9;
$icon-grey: #70757a;
$blue: #4285f4;
$light-purple: rgb(103, 58, 183);