.doc_card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 200px;
    margin-right: 20px;
    margin-bottom:20px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        border: 1px solid $purple;
    }

    .doc_card_image {
        box-sizing: border-box;
        height: 150px;
        width: 198px;
    }


    .doc_card_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 18px;

        h5{
            overflow:ellipsis;
        }

        .doc_content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 5px;

            .content_left {
                display: flex;
                flex-direction: row;
                align-items: center;
                color:$grey;
                font-size:12px;

                .storage_icon{
                    color:$white;
                    font-size:12px;
                    background-color:$purple;
                    padding:3px;
                    margin-right:3px;
                    border-radius:2px;
                }
                .more_vert{
                    color:$grey;
                    font-size:16px;
                }
            }
        }
    }
}
